<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <span id="logo">Chat App</span>
      {{> online-users }}
    </header>
    <main>

      {{> messagelist }}
      {{> messageForm }}
    </main>
    <footer>
      {{> scripts }}
    </footer>
  </body>
</html>