<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {{> online-users }}

    {{> messagelist }}
    {{> messageForm }}
    
    {{> scripts }}
  </body>
</html>