<form id="loginForm" action="/chat" method="POST">
    <input type="text" id="username" name="username" class="" placeholder="username">
    <input type="password" id="password" name="password" class="" placeholder="password">
    <input type="submit" name="submitBtn" class="" value="Sign In">
</form>