<form id="messageForm" action="">
    <input type="text" id="username" placeholder="username" autocomplete="off" />
    <input type="text" id="message-text" placeholder="message" autocomplete="off" />
    <input type="submit" id="message-submit" value="Send">
</form>